<div align="left">
  <h3>Contato@EnTurma</h3>

  <%= simple_form_for @contact do |f| %>
    <p>Nome</p>
    <%= f.input :name, :label => "" , :required => true , :input_html => {:maxlength => 100, :size => 20}%>
     <p>Email</p>
    <%= f.input :email, :label => "" ,:required => true , :input_html => {:maxlength => 100, :size => 20} %>
    <p>Assunto</p>
    <div>
      </br>
    <div>  
      <%= f.select :subject,  ["Reportar Problema", "Sugestão de Melhoria" , "Fazer Elogio" , "Contato Comercial" , "Outro"], :label => "" ,  include_blank: false %>
    </div>
     <p>Mensagem</p>
    <%= f.input :message, :label => "" ,:as => :text, :required => true , :input_html => {:maxlength => 400, :size => 100} %>
    <div>
      </br>
      <%= f.button :submit, 'Enviar mensagem', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>