<%= form_tag("/report/request_report.json",id: "new-request", method: "get", remote: true, :class =>'form-inline') do %>

  <div class="form-group">
  <%= label_tag(:year, "Ano de inicio") %>
  <%= text_field_tag(:year,nil, class: 'form-control')%>
  </div>
  <div class="form-group">
  <%= label_tag(:id_state, "Estado") %>
  <%= text_field_tag(:id_state,nil, class: 'form-control') %>
  </div>
  <div class="form-group">
  <%= label_tag(:id_grade, "Turma") %>
  <%= text_field_tag(:id_grade,nil, class: 'form-control') %>
  </div>
  <div class="form-group">
  <%= label_tag(:final_year, "Ano final") %>
  <%= text_field_tag(:final_year,nil, class: 'form-control') %>
  </div>

  <%= submit_tag("Gerar Relatório", :class => 'btn btn-default') %>
<% end %>

