<!DOCTYPE html>
<html>
	<head>
	  <title>EnTurma</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css">
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
      <%= render 'shared/navigation' %>
    </head>
	<body>

        <br><br>
		<%= yield %>

	</body>
    <footer>
      <%= render 'shared/footer' %>

    </footer>
</html>
