<!DOCTYPE html>
<html>
	<head>
	  <title>EnTurma</title>
	        
	  
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css">
    </head>
	<body>
<div class="wrapper">

	<%= render 'shared/navigation' %>

        <br><br>
		<%= yield %>


	<div class="push"></div>
</div>
	<div class="footer">
	<%= render 'shared/footer' %>
	</div>
	</body>
    
</html>
